{% if sky != 'blue' %}
Clouds
{% endif %}

{% if sun === True && rain === 'yes' %}
Sun Shower
{% elif sun === true and rain === 'no' %}
Sunny
{% endif %}

{% if snow_inches > 10 %}
Snow Fort
{% elif  snow_inches > 4 %}
Sledding
{% else %}
Brrrr
{% endif %}

{% if !one %}
One
{% elif not two %}
Two
{% elif three %}
Three
{% elif four %}
Four
{% else %}
Infinity
{% endif %}

{% if content.featured_image and module.featured_image %}
  <a class="blog-index__post-image-wrapper blog-index__post-image-wrapper--{{ list_type }}" href="{{ content.absolute_url }}" aria-label="{% if content.featured_image_alt_text %}Featured image: {{ content.featured_image_alt_text }} - {% endif %}Read full post: {{ content.name }}">
    <img class="blog-index__post-image blog-index__post-image--{{ list_type }}" src="{{ content.featured_image }}" loading="lazy" alt="{{ content.featured_image_alt_text }}" width="{{ "365" if list_type == "small" else "596" }}">
  </a>
{% endif %}

{% if true %}
  {% if !false %}

  {% endif %}
  {% endif %}

    {% if module.show_first_and_last_links == true %}
      <a class="pagination__link pagination__link--first {{ "pagination__link--disabled" if not last_page_num }}" {% if last_page_num %}href="{% if current_page_num == 2 %}{{ group.absolute_url }}{% else %}{{ blog_page_link(1) }}{% endif %}"{% endif %}>
        {% icon extra_classes="pagination__link-icon",
          name="angle-double-left",
          purpose="decorative",
          style="SOLID",
          unicode="f100" 
        %}
        <span class="pagination__link-text show-for-sr--mobile">{{ module.first_label }}</span>
      </a>
    {% endif %}

{{ content.longVariable if module.whichValue is defined }}

{{ module.styles.background.color.opacity / 100 }}

{{ color_variant(module.styles.background.color.color, -80)|convert_rgb }}

{{ contents.total_page_count - current_page_num == 1 }}

{{ contents.total_page_count + current_page_num }}

 {% dnd_module
        path="../modules/pricing-card",
        button_text={{ context.card_one_button_text or "Buy starter" }},
        description={{ context.card_one_description or "<p>For individuals or team just getting started with sales.</p>" }},
        features=[
          "Ad management",
          "Live chat",
          "Conversational bots",
          "Forms",
          "Pop-up forms",
          "Contact website activity",
          "List segmentation",
          "Email marketing",
          "Ad retargeting"
        ],
        offset=0,
        price={{ context.card_one_price or "$0" }},
        tier={{ context.card_one_tier or "<h2>Starter</h2>" }},
        timeframe={{ context.card_one_timeframe or "/mo" }},
        width=4
      %}{% end_dnd_module %}
      
{% do rel.append("nofollow") %}

{% set rel = [] %}

{{ 'target="_blank" rel="noopener"' if link.linkTarget }}
{{ "It's gettin' better!" }}
{{ "target='_blank' rel='noopener'" if link.linkTarget }}
      <main id="main-content" class="body-container-wrapper">
        {% block body %}fdfd
        {% endblock body %}
      </main>


    {% block body1 %}
      <div>
  {% set x = false %}
      </div>
    {% endblock %}



    {% block body2 %}
      <div>
  {{ variable }}
      </div>
      <div>
      {% set x = true %}
      {{ variable2 }}
      </div>
      
    {% endblock %}



    {% block body3 %}
    {% endblock %}

{{ rel|join(" ") }}

{% set testing_table_id = null %} 

{% unless true %}
  Content
{% endunless %}

{% unless (module.logo.link is string_startingwith("http")) || (module.logo.link is string_startingwith("/")) or (module.logo.link is string_startingwith("mailto")) or (module.logo.link is string_startingwith("#")) or (not module.logo.link) %}
    {% set link = "//" ~ module.logo.link %}
  {% else %}
    {% set link = module.logo.link || "" %}
  {% endunless %}

  {{- start }}

  {{ leading -}}
{{ trailing -}}
{{- both -}}
{{- start }}
